<%= link_to index_path,

  title: "Close comments",
  id: "close_post_comments" do %>
  <%= image_tag "icons/iconfinder_exit-delete-remove-close-x_2931151.png",
  width: icon_size_v,
  height: icon_size_h %>
<% end if @post_comments %>

<%= render 'new' if current_user %>
<div id="last_comment_post_<%= @post.id %>"></div>
<% @post_comments.each do |post_comment|%>
    <p>
      <%= post_comment.text %>
      <%= post_comment.created_at %>
    </p>
    <%= link_to 'Delete', "#", remote: true, data: {}
<% end %>
