

$('#comment').append("<%= j stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>");
$('#comment').prepend('<div class="comment_avatar">',
  '<%= j image_tag @comment.user.avatar_url(:thumb) if @comment.user.avatar.present? %>',
  '</div>',

  '<div class="comment_created_at_and_by" >',
    '<%= @comment.created_at.strftime("%H:%M:%S %-d.%-m.%Y") %> by: <b><%= @comment.user.name %>',
  '</div>',

  '<div class="comment_text">',
    '<%= j @comment.text %>',
  '</div>')

$.ajax({ 
    type: 'GET', 
    url: 'http://localhost:3000/post_comments/19', 
    data: { get_param: 'value' }, 
    dataType: 'json',
    success: function (data) { 


        data.forEach(function(e){
          $('#comment1').append(e.id + '-' + '<div class="comment_text">' + e.text + '</div>')})
        console.log(data)
    }
});