<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-11">
      <h3>Comments</h3>
        <% @user_comment.each do |comment| %>
        <hr>
          <section class= "user_info_below_post">
            Commenter: 
            <%= comment.user.name %>
            <%= image_tag comment.user.avatar_url(:thumb), class: 'leftimg' if comment.user.avatar.present? %>
            Commented: 
            <%= comment.user.created_at.to_s[0..15] %>
            Changed:
            <%= comment.user.updated_at.to_s[0..15] %>
          </section>
          <%= comment.text %>
          <br>
          <%= link_to ' Jump to post', user_post_path(comment.user_id, comment.post_id) %> 
          <%= link_to ' Destroy comment', user_post_comment_path(comment.user_id, comment.post_id, comment.id), method: :delete %> 
        <% end %>
      <p>
        </br>
        <%= link_to 'Back to all posts', all_posts_path %> 
      </p>
    </div>
  </div>
</div>