<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-4">
      <h1>New User</h1>
        <%= bootstrap_form_with(model: user, local: true) do |form| %>
          <% if user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <%= form.text_field :name %>
          <%= form.file_field :avatar %>
          <%= form.email_field :email %>

          <div id="change_password">
            <b>Change password</b>
          </div>

          <div  id="password">
            <%= form.password_field :password %>
            <%= form.password_field :password_confirmation %>
          </div>
          <%#= form.select :role, User::ROLE, selected: User::ROLE[0] if User.all.blank? %>
          <% if User.all.blank? %>
            <%= form.select :role, User::ROLE, selected: User::ROLE[0] %>
          <% else current_user == 'admin' %>
            <%= form.select :role, User::ROLE, selected: User::ROLE[2] %>
          <% end %>
          <%= form.submit %>
          <%= link_to 'Back', users_path, type: 'button', class: 'btn btn-light'%>
        <% end %> 
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    if ('<%= current_user %>' == "") {
      $('#password').show();
    }
    else {
      $('#password').hide();
    }
  })

  $('#change_password').click(function() {
    $('#password').toggle();
  });
</script>
