<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>large avatar:</strong>
  <%= image_tag("#{@user.avatar}") if @user.avatar %>
</p>

<p>
  <strong>small avatar:</strong>
 <%= image_tag @user.avatar_url(:thumb) if @user.avatar.present? %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
