<%= bootstrap_form_with model: [@user, @post], remote: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this @post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.text_field :header %>
    <%= form.file_field :image %>
    <%= form.text_area :body, cols: 50, rows: 10 %>
    <%= form.submit %>
    <%= link_to 'Back to post', user_post_path(params[:user_id], params[:id]) , type: 'button', class: 'btn btn-light' if params[:action] == 'edit' %>

    <%= link_to 'All posts', index_path , type: 'button', class: 'btn btn-light' if params[:action] == 'new' %>
<% end %>
