<div id='post_form'>

<h3><%= "Edit post" if params[:action] == 'edit' %></h3>

<%= bootstrap_form_with model: [@user, @post], remote: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this @post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.text_field :header %>
    <%= form.file_field :image %>
    Copy youtube link in browser address line and paste here
    <%= form.text_field :youtube %>


    <%= form.text_area :body, cols: 50, rows: 5%>
    <%= form.check_box :published %>
    <%= form.submit %>

    <%= link_to 'Close editor',
      user_post_path(params[:user_id], params[:id]),
      remote: true,
      id:     'close_editor',
      type:   'button',
      class:  'btn btn-light' if params[:action] == 'edit' %>

    <%= link_to 'Cancel',
      root_path,
      type: 'button',
      class: 'btn btn-light' if params[:action] == 'new' %>

<% end %>
</div>


<div id="froala-editor"></div>

<!-- Include the Font Awesome 5 JS. If you have a license for the PRO license, include the downloaded JS from Font Awesome website. -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
 
 <script> $(function() { $('textarea').froalaEditor() }); </script>