<div id='<%="current_post#{@post.id}"%>'>
  <div id="current_post_body">
    <p>
    <h3 id="post_header"><%= @post.header%></h3>

<!--       <h3 id="post_header"></h3> -->
    <div id='ah'></div>
    <%= image_tag @post.image_url, class: 'leftimg' if @post.image.present? %>
    <p><%= @post.body%></p>

    <%= link_to 'Comments',
      user_post_comments_path(@post.user_id, @post.id)%> | 

    <%= link_to 'All posts', all_posts_path %>

    <%= link_to '| Edit post',
      edit_user_post_path(@post.user_id, @post.id),
      id: 'edit_post',
      remote: true if current_user  %> 
    <%= link_to '| Destroy post', user_post_path(@post.user_id, @post.id), method: :delete if current_user  %> 
    </p>
  <div id="current_post_footter">
    <%= link_to "Return to posts",
      user_posts_path(@post.user_id, anchor: "post_preview#{@post.id}"),
      id: "close_current_post#{@post.id}" %>
  </div>
  </div>
</div>
