<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-11">
      <h3>All user posts</h3>
      <% @my_posts.each do |post| %>
      <h2><%= post.header %></h2>
        <p>
          <%= image_tag post.image_url(:thumb), class: 'leftimg' if post.image.present? %>
          <%= post.body[0..200] %> ...
          <%= link_to 'Read more', user_post_path(post.user_id, post.id) %>
          <section class= "user_info_below_post">
          Created by <i><b><%= post.user.name %> 
          <%= image_tag post.user.avatar_url(:thumb) if post.user.avatar.present? %></b></i>
          <%= post.created_at.to_s[0..15]%>.
          Updated
            <%= post.updated_at.to_s[0..15]%>.
            </section>
          <%= link_to 'Comments', user_post_comments_path(post.user_id, post.id) %> | 
          <%= link_to 'Show', user_post_path(current_user, post) %> |
          <%= link_to 'Edit', edit_user_post_path(current_user, post) %> |
          <%= link_to 'Destroy', user_post_path(current_user, post), method: :delete, data: { confirm: 'Are you sure?' } %> |
        </p>
        <hr>
      <% end %>
    </div>
  </div>
</div>