<div id="show_post"></div>

<div class="row">
  <div class="col-12 new_post_form">
    <div id="new_post"></div>
  </div>
</div>
<div class="user_vertical_divider"></div>
<% @posts.each do |post| %>
  <div class="row">
    <div class="col-12 new_post_form">
      <div id="render_post_<%= post.id %>"></div>
    </div>
  </div>
  <div id="post_<%= post.id%>">
      <div class="row">
        <div class="col-12">
          <h3 id='posts_headers'><%= post.header.to_s %></h3>
        </div>
      </div>

      <div class="row">
        <% if post.youtube.present? %>
          <div class="col-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= post.youtube[32..-1] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <% end %>
      </div>

      <div class="row ">
        <% if post.image.present? %>
          <div class="col-3">
            <%= image_tag post.image_url(:thumb),
              class: 'leftimg' if post.image.present? %>
          </div>

          <div class="col-9">
            <p>

            <%= post.body[0..420].html_safe %>

             <%= link_to user_post_path(post.user_id, post.id), 
                remote: true,
                title: "reed more",
                id: "show_post_#{post.id}" do %>
                ... red more
                <%= image_tag "icons/iconfinder_right-forward-arrow_2931159.png",
                  width: icon_size_v,
                  height: icon_size_h %>
              <% end %>
            </p>
          </div>

        <% elsif post.image.blank? %>
          <div class="col-12">
            <p>
              <%= post.body[0..420].html_safe %>
              <%= link_to user_post_path( post.user_id, post.id), 
                remote: true,
                title: "reed more",
                id: "show_post_#{post.id}" do %>
                ... red more
                <%= image_tag "icons/iconfinder_right-forward-arrow_2931159.png",
                  width: icon_size_v,
                  height: icon_size_h%>
              <% end %>

            </p>
          </div>

        <% elsif post.body.blank? %>
          <div class="col-3">
            <%= image_tag post.image_url(:thumb),
              class: 'leftimg' if post.image.present? %>
          </div>
        <% end %>
      </div>

      <br>
      <div class="row">
        <div class="col-9">
          <div class= "user_info_below_post">
            Created by <i><b><%= post.user.name %> 
              <%= image_tag post.user.avatar_url(:thumb) if post.user.avatar.present? %></b></i>
              <%= post.created_at.strftime("%H:%M:%S %-d.%-m.%Y") %>.
              Updated
                <%= post.updated_at.strftime("%H:%M:%S %-d.%-m.%Y")%>.
          </div>
        </div>

        <div class="col-3">
          <%= link_to user_post_comments_path(user_id: post.user_id, post_id: post.id),
            remote: true,
            title: "comments" do %>
            <%= image_tag "icons/iconfinder_paste-clipboard-copy_2931174.png",
              width: icon_size_v,
              height: icon_size_h %>
            <em id="post_coments_icon_<%= post.id %>"><%= post.comments.count if post.comments %>
            </em>
          <% end %>
        </div>
      </div>
      <div id="before_close_comments_<%= post.id %>"></div>
      <div id="form_comments_<%= post.id %>"></div>
      <div id="post_comments_<%= post.id %>"></div>
      <div id="after_close_comments_<%= post.id %>"></div>
    <hr>
  </div>
<% end %>
