<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div id="background_image"></div>
    <%= render template: 'layouts/navigation'%>
    <% content_for :user_data_container do %>
      <%= render template: 'layouts/user_data_container' if current_user %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-2">
          <%= yield :user_data_container %>

        </div>
        <div class="col-10">
            <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
